.footer {
    background-color: black;
    width: 100vw;
    height: 10vh;
    position: relative;
    bottom: 0;
    margin: 0;
}

.footer p {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

