.nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;

}

.nav a {
    color: whitesmoke;
}

.nav li {
    text-decoration: none;
    display: inline-block;
    margin-left: 50px;
}

