.nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;

}

.nav a {
    color: white;
    font-size: 75px;
}

.nav li {
    text-decoration: none;
    display: inline-block;
    margin-left: 150px;
}

