.section-container{
    width: 85%;
    height: 100%;
    color: black;
    background-color: #191919;
    position: relative;
}

.section-container h1 {
    position: absolute;
    left: 50%;
    top: 1%;
    transform: translateX(-50%);
    color: #62B28B;
    text-shadow: 5px 5px 5px #191919;
}

.section-body {
    background-color: whitesmoke;
    width: 90%;
    height: 40vw;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
    border: 1px solid black;
}

.section-body p {
    font-size: 18px;
    line-height: 1.5;
    margin: 3%;
}

.section-body .imageDiv, .section-body .contentDiv {
    height: 95%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.section-body .imageDiv {
    width: 33%;
    border: 1px solid black;
}

.section-body .contentDiv {
    width: 65%;
    background-color: whitesmoke;
    padding: 5%;
}

.left {
    left: 1%;
}

.right {
    right: 1%;
}
